In [1]:
import pandas as pd
from sqlalchemy import create_engine

### Extract CSVs into DataFrames

In [2]:
#Import alchohol info by country into dataframe from csv
alchohol_file = "alchohol_info_country.csv"
alchohol_df = pd.read_csv(alchohol_file)
alchohol_df.head()

#Import alchohol info by country into dataframe from csv
who_file = "who_alchohol_data.csv"
who_df = pd.read_csv(who_file)
who_df.head()

,Location,Period,Dim1,AttFracAllDeaths,AttFracCancerDeaths,AttFracLiverCirr,AttFracTrafficDeaths,AttFracYLL,Dependence12MoPrev,DrinkersOnlyLitersAlc,DrinkersOnlyCI,HarmfulUse12MoPrev,UseDisorder12moPrev,TrafficCrash100k,TrafficCrashPct,GeometryCode,CrimePct
0,Afghanistan,2016,Both sexes,0.2,NaN,NaN,NaN,1,0.2,26.9,[24.4-29.3],0.2,0.4,NaN,NaN,NaN,NaN
1,Afghanistan,2016,Male,0.3,0.5,5.5,0.7,NaN,0.3,30.4,[27.7-33.2],0.3,0.6,NaN,NaN,NaN,NaN
2,Afghanistan,2016,Female,0.1,0.1,1.1,0.5,NaN,0.1,11.5,[10.4-12.5],0,0.1,NaN,NaN,NaN,NaN
3,Albania,1995,Both sexes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.5,3.3,NaN,NaN
4,Albania,1996,Both sexes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.3,1.8,NaN,NaN

In [14]:
#Perform transformation of column name WHO "location" to country to match alchohol dataset
who_df.rename(columns={'Location': 'country'}, inplace=True)

### Create database connection

In [7]:
#Create connection to local Postgres Database "alchohol" running on port 5432
connection_string = "postgres:postgres@localhost:5432/alchohol"
engine = create_engine(f'postgresql://{connection_string}')

In [12]:
# Confirm tables
engine.table_names()

['alchohol', 'who_data']

### Load DataFrames into database

In [15]:
#Load alchohol DF to database, create table using SQL Alchemy
alchohol_df.to_sql(name='alchohol', con=engine, if_exists='append', index=True)

In [16]:
#Load WHO DF to database, create table using SQL Alchemy and load data
who_df.to_sql(name='who_data', con=engine, if_exists='append', index=True)